body {
  width: 100%;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 6px 0;
}

.notification {
  color: red;
  font-size: 20px;
  padding: 15px 10px;
  margin: 15px 0px;
  background-color: lightgray;
  border: 3px solid red;
  border-radius: 3px;
}

h2, h3, h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.blog-section {
  margin: 10px 0;
  line-height: 1.2;
}

.navbar-nav {
  align-items: baseline;
}

.login-button a {
  color: white;
}

.bold-text {
  font-weight: 700;
}

.italic-text {
  font-style: italic;
}

.blog-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.4;
}
